.home {
    .HeaderBar {
        background: #e9413a;
        color: #ffffff;
    }
    .p50 {
        padding: 50px;
    }
    .p10 {
        padding: 10px;
    }
    .at-nav-bar__title {
        color: #ffffff;
    }
    .at-grid {
        .content-inner__text {
            font-size: 12Px;
        }
    }
}
