.index-page {

  .slide-image {
    width: 100%;
    height: 7.68rem;
    overflow: hidden;
  }

  .taro-img {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-padding {
    padding: .625rem
      /* 10/16 */
    ;

    .list_title_item {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
      margin: .375rem;
      .all_button{
        outline: none;
        border: none;
      }
    }
  }
}
