.course_page {


  .course_list_item {
    display: flex;
    align-items: center;

    .course_list_img {
      width: 242px;
      height: 146px;
      border-radius: .25rem /* 4/16 */;
      background: #74D39E;
      margin-left: .625rem /* 10/16 */;
    }

    .course_list_desc {
      flex: 1;
      padding: 0 .625rem /* 10/16 */;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .course_main_desc {
      font-size: .75rem;
      color: #8D8E8F;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
