/* Custom Theme */
$color-brand: #24d75f;
$color-brand-light: #5be187;
$color-brand-dark: #1dac4c;


// app 全局样式
.app_page_title {
  position: relative;
  padding-left: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .app_page_title_left {
    display: flex;
    align-items: baseline;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.42667rem;
    width: .125rem;
    height: 0.85333rem;
    background-color: $color-brand;
    box-shadow: rgba(97, 144, 232, 0.2) 0px 0.14933rem 0.256rem 0px;
    border-radius: .125rem;
  }

  &_mainTitle {
    font-size: 1rem /* 16/16 */;
  }

  &_subTitle {
    text-align: right;
    font-size: .75rem
      /* 12/16 */
    ;
    color: rgba(153, 153, 153, 1);
    padding-left: .125rem
      /* 2/16 */
    ;
  }

  .more {
    font-size: .75rem
      /* 12/16 */
    ;
    color: rgba(153, 153, 153, 1);
  }
}

/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";
