/* Custom Theme */
// $color-brand: #24d75f;
// $color-brand-light: #5be187;
// $color-brand-dark: #1dac4c;

/* Custom Theme */
$color-brand: #1b7ff5;
$color-brand-light: #549ff8;
$color-brand-dark: #1666c4;

// app 全局样式

/* 去除滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

page,
.taro_router,
.taro_page {
  height: 100%;
  background: #0F3259;
  color: #F4F6F8;
  // background-image: linear-gradient(180deg, rgb(30, 138, 246) 0%, rgb(7, 28, 49) 85%)
}

.flex-box {
  display: flex;
}

// 视图点击效果
.ac_action:active {
  opacity: 0.6;
}

.app_page_title {
  position: relative;
  padding-left: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .app_page_title_left {
    display: flex;
    align-items: baseline;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.42667rem;
    width: .125rem;
    height: 0.85333rem;
    background-color: $color-brand;
    box-shadow: rgba(97, 144, 232, 0.2) 0px 0.14933rem 0.256rem 0px;
    border-radius: .125rem;
  }

  &_mainTitle {
    font-size: 1rem
      /* 16/16 */
    ;
  }

  &_subTitle {
    text-align: right;
    font-size: .75rem
      /* 12/16 */
    ;
    color: rgba(153, 153, 153, 1);
    padding-left: .125rem
      /* 2/16 */
    ;
  }

  .more {
    font-size: .75rem
      /* 12/16 */
    ;
    color: rgba(153, 153, 153, 1);
  }
}

// 表单开始
.form_item {
  .form_item_title {
    padding: .25rem
      /* 4/16 */
      0;
  }
}

.at-form {
  height: 100%;
  padding: 0;
  margin: 0;
}

.at-form::after {
  border: none !important;
}

// 表单结束



/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";
