.my-page {

  .avatar_bar {
    height: 5.625rem
      /* 90/16 */
    ;
    background: #E2CDA1;
    display: flex;
    align-items: center;
    padding: 0 1.25rem
      /* 20/16 */
    ;

    .avatar_bar_left {
      color: #fff;
    }

    .avatar_bar_right {
      font-size: .75rem
        /* 12/16 */
      ;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .avatar_bar_right_l {
        padding-left: .375rem
          /* 6/16 */
        ;

        .user_desc{
          font-size: .75rem /* 12/16 */;
        }
      }
    }
  }
}
